.body {
}

.body__top {
  margin: 50px auto;
}

.body__howToUse {
}

.body__input {
  max-width: 640px;
  margin: 40px auto 25px;
}

.body__output {
  max-width: 640px;
  margin: 40px auto 25px;
}

.body__footer {
  margin-top: 65px;
}
