.button {
  display: inline-block;
  text-align: center;
  padding: 10px 25px;
  font-size: 20px;
  color: #fff;
  box-shadow: 0 1px 3px rgb(0 0 0 / 30%);
  background: #505050;
  border: none;
  cursor: pointer;
  transition-property: background;
  transition-duration: 0.15s;
  outline: none;
}

.button:hover,
.button:focus {
  background: #b11020;
  outline: none;
}
.button:active {
  background: #5c1014;
}

.button--main {
  background: var(--color-dark-saturated);
}
.button--main:hover,
.button--main:focus {
  background: #b80517;
}
.button--main:active {
  background: #ce0519;
}
